In [1]:
import warnings
import sqlite3
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import pandas as pd
warnings.simplefilter('ignore')

In [2]:
go_sales_connect = sqlite3.connect('go_sales.sqlite')

In [10]:
df = pd.read_sql_query("SELECT RETURN_REASON_CODE, RETURN_QUANTITY, UNIT_PRICE, PRODUCT_NUMBER from returned_item join order_details on returned_item.ORDER_DETAIL_CODE = order_details.ORDER_DETAIL_CODE", go_sales_connect)
df

    RETURN_REASON_CODE RETURN_QUANTITY UNIT_PRICE PRODUCT_NUMBER
0                    5               8     123.56              6
1                    2               2     151.77              8
2                    4              22     134.63              8
3                    3              20     134.63              8
4                    1               2      90.09             17
..                 ...             ...        ...            ...
701                  3              24      92.91             66
702                  5              66      90.76             71
703                  4              64      11.98             73
704                  1               2     346.66             44
705                  3              82      10.64            112

[706 rows x 4 columns]

In [ ]:
X = df.drop('QUANTITY', axis = 1)
y = df.loc[()]