In [1]:
import pandas as pd
import pyodbc
import sqlite3
from datetime import datetime

In [2]:
DB = {'servername': r'DESKTOP-I3QFF0F\SQLEXPRESS', 'database': 'DWH'}
now = datetime.now()
sqlite_connectie = sqlite3.connect('DWH')
export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor


current_time= now.strftime("%d/%m/%Y %H:%M:%S")
current_time

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'SQL Server' : file not found (0) (SQLDriverConnect)")

In [ ]:
COURSE = [
    "COURSE_id",
    "COURSE_description"
]

DATE = [
    "DAY_date"
]

GO_SALES_INVENTORY = [
    "GO_SALES_INVENTORY_PRODUCT_number",
    "GO_SALES_INVENTORY_INVENTORY_YEAR",
    "GO_SALES_INVENTORY_INVENTORY_MONTH_number",
    "GO_SALES_INVENTORY_EXPECTED_VOLUME_number",
    "GO_SALES_INVENTORY_INVENTORY_COUNT_number"
]

MONTH = [
    "MONTH_number"
]

ORDER = {
    "ORDER_id"
    "ORDER_DETAILS_id"
    "ORDER_RETAILER_name"
    "ORDER_RETAILER_SITE_id"
    "ORDER_SALES_STAFF_id"
    "ORDER_SALES_BREANCH_id"
    "ORDER_date"
    "ORDER_METHOD_id"
    "ORDER_PRODUCT_id"
    "ORDER_QUANTITY_id"
    "ORDER_UNIT_COST_price"
    "ORDER_UNIT_price"
    "ORDER_UNIT_SALE_price"
    "ORDER_RETAILER_CONTACT_id"
} 

PRODUCT = [
    "PRODUCT_id"
    "PRODUCT_name"
    "PRODUCT_description"
    "PRODUCT_img"
    "PRODUCT_LINE_id"
    "PRODUCT_LINE_name"
    "PRODUCT_TYPE_id"
    "PRODUCT_INTRODUCTION_date"
    "PRODUCT_MARGIN_number"
    "PRODUCT_LANGUAGE_name"
    "PRODUCT_COST_price"
]

RETAILER = [
    "RETAILER_SITE_id"
    "RETAILER_COMPANY_name"
    "RETAILER_MR_id"
    "RETAILER_TYPE_name"
    "RETAILER_TYPE_id"
    "RETAILER_ADDRESS1_name"
    "RETAILER_ADDRESS2_name"
    "RETAILER_id"
    "RETAILER_COUNTRY_id"
    "RETAILER_REGION_name"
    "RETAILER_CITY_name"
    "RETAILER_POSTAL_ZONE_name"
    "RETAILER_ACTIVE_INDICATOR_number"
    "RETAILER_name"
    "RETAILER_FAX_number"
    "RETAILER_HEADQUARTERS_ADDRESS1_name"
    "RETAILER_HEADQUARTERS_ADDRESS2_name"
    "RETAILER_HEADQUARTERS_COUNTRY_id"
    "RETAILER_HEADQUARTERS_REGION_name"
    "RETAILER_HEADQUARTERS_CITY_name"
    "RETAILER_HEADQUARTERS_POSTAL_ZONE_name"
    "RETAILER_SEGMENT_id"
]

RETURNED_ITEM = [
    "RETURNED_ITEM_id"
    "RETURNED_ITEM_date"
    "RETURNED_ITEM_ORDER_DETAIL_id"
    "RETURNED_ITEM_REASON_id"
    "RETURNED_ITEM_QUANTITY_number"
]

SALES = {
    "SALES_STAFF_id"
    "SALES_FIRST_name"
    "SALES_LAST_name"
    "SALES_EXTENSION_number"
    "SALES_EMAIL_name"
    "SALES_MANAGER_id"
    "SALES_BRANCH_id"
    "SALES_ADDRESS1_name"
    "SALES_ADDRESS2_name"
    "SALES_POSITION_name"
    "SALES_WORK_PHONE_number"
    "SALES_FAX_number"
    "SALES_HIRED_date"
    "SALES_COUNTRY_id"
    "SALES_REGION_name"
    "SALES_CITY_name"
    "SALES_POSTAL_ZONE_name"
}

SATISFACTION = {
    "SATISFACTION_YEAR_number"
    "SATISFACTION_STAFF_id"
    "SATISFACTION_TYPE_id"
    "STATISFACTION_TYPE_description"
}

TRAINING = {
    "TRAINING_YEAR_number"
    "TRAINING_SALES_STAFF_id"
    "TRAINING_COURSE_id"
}

YEAR = {
    "YEAR_number"
}

In [1]:
# Create a dictionary to map DataFrame names to table names in the database
dataframes = {
    'DATE': DATE,
    'MONTH': MONTH,
    'YEAR': YEAR,
    'PRODUCT': PRODUCT,
    'COURSE': COURSE,
    'GO_SALES_INVENTORY': GO_SALES_INVENTORY,
    'ORDER': ORDER,
    'RETAILER': RETAILER,
    'RETURNED_ITEM': RETURNED_ITEM,
    'sales_staff': SALES,
    'satisfaction': SATISFACTION,
    'training': TRAINING,
    'ORDER': ORDER
}

# Update each table in the database with the respective DataFrame
for table_name, df in dataframes.items():
    print(table_name)
    # Convert DataFrame to a list of tuples with missing values replaced by None
    data = []
    for row in df.values:
        row = [None if pd.isna(value) or value == '<NA>' else value for value in row]
        data.append(tuple(str(value) if value is not None else None for value in row))
    
    # Construct SQL query to replace data in the table
    sql_delete_query = f"DELETE FROM {table_name};"
    
    # Execute SQL query to delete existing data from the table
    export_conn.execute(sql_delete_query)
    
    # Construct SQL query to insert new data into the table
    num_columns = len(df.columns)
    placeholders = ','.join(['?'] * num_columns)
    sql_insert_query = f"INSERT INTO {table_name} VALUES ({placeholders})"
    
    # Execute individual insert statements for each row
    for row in data:
        print(row)
        export_conn.execute(sql_insert_query, row)

# Commit the transaction
export_conn.commit()

NameError: name 'year' is not defined