In [1]:
import pandas as pd
import pyodbc
import sqlite3
from datetime import datetime

C:\Users\Alvaro\AppData\Local\Temp\ipykernel_100324\2168663434.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
DB = {'servername': r'DESKTOP-I3QFF0F\SQLEXPRESS', 'database': 'DWH'}
now = datetime.now()
sqlite_connectie = sqlite3.connect('DWH')
export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

sales_connection = sqlite3.connect('go_sales.sqlite')
staff_connection = sqlite3.connect('go_staff.sqlite')
crm_connection = sqlite3.connect('go_crm.sqlite')

current_time= now.strftime("%d/%m/%Y %H:%M:%S")
current_time

'21/03/2024 14:01:24'

In [3]:
sales_country = pd.read_sql("SELECT * FROM country", sales_connection)
crm_country = pd.read_sql("SELECT * FROM country", crm_connection)
og_country = pd.merge(sales_country, crm_country, on='COUNTRY_CODE', how='outer')
og_country = pd.merge(og_country, sales_territory, on='SALES_TERRITORY_CODE', how='left')

#country
country['Country_Code'] = og_country['COUNTRY_CODE']
country['Name'] = og_country['COUNTRY']
country['Language'] = og_country['LANGUAGE']
country['Currency'] = og_country['CURRENCY_NAME']
country['Flag_Image'] = og_country['FLAG_IMAGE']
country['Sales_Territory'] = og_country['SALES_TERRITORY_CODE']




COURSE =  {
    "COURSE_CODE" : COURSE_id ,
    "COURSE_DESCRIPTION" : COURSE_description 
 }

DATE =  {
   "DATE_HIRED" : DAY_date 
 }

GO_SALES_INVENTORY =  {
   "" : GO_SALES_INVENTORY_PRODUCT_number ,
   "" : GO_SALES_INVENTORY_INVENTORY_YEAR ,
   "" : GO_SALES_INVENTORY_INVENTORY_MONTH_number ,
   "" : GO_SALES_INVENTORY_EXPECTED_VOLUME_number ,
   "" : GO_SALES_INVENTORY_INVENTORY_COUNT_number 
 }

MONTH =  {
   "" : MONTH_number 
 }

ORDER = {
   "ORDER_NUMBER" : ORDER_id, 
   "ORDER_DETAILS_CODE" : ORDER_DETAILS_id, 
   "RETAILER_NAME" : ORDER_RETAILER_name, 
   "RETAILER_SITE_CODE" : ORDER_RETAILER_SITE_id, 
   "SALES_STAFF" : ORDER_SALES_STAFF_id, 
   "SALES_BRANCH_CODE" : ORDER_SALES_BREANCH_id, 
   "ORDER_DATE" : ORDER_date, 
   "ORDER_METHOD_CODE" : ORDER_METHOD_id, 
   "PRODUCT_NUMBER" : ORDER_PRODUCT_id, 
   "QUANTITY" : ORDER_QUANTITY_id, 
   "UNIT_COST" : ORDER_UNIT_COST_price, 
   "UNIT_PRICE" : ORDER_UNIT_price, 
   "UNIT_SALE" : ORDER_UNIT_SALE_price, 
   "RETAILER_CONTACT_CODE" : ORDER_RETAILER_CONTACT_id 
} 

PRODUCT =  {
   "INTRODUCTION_DATE" : PRODUCT_id, 
   "PRODUCT_NAME" : PRODUCT_name, 
   "DESCRIPTION" : PRODUCT_description, 
   "PRODUCT_IMAGE" : PRODUCT_img, 
   "PRODUCT_LINE_CODE" : PRODUCT_LINE_id, 
   "PRODUCT_LINE_EN" : PRODUCT_LINE_name, 
   "PRODUCT_TYPE_CODE" : PRODUCT_TYPE_id, 
   "INTRODUCTION_DATE" : PRODUCT_INTRODUCTION_date, 
   "MARGIN" : PRODUCT_MARGIN_number, 
   "LANGUAGE" : PRODUCT_LANGUAGE_name, 
   "PRODUCTION_COST" : PRODUCT_COST_price 
 }

RETAILER =  {
   "RETAILER_SITE_CODE" : RETAILER_SITE_id,
   "COMPANY_NAME" : RETAILER_COMPANY_name, 
   "RETAILER_CODEMR" : RETAILER_MR_id, 
   "RETAILER_TYPE_EN" : RETAILER_TYPE_name, 
   "RETAILER_TYPE_CODE" : RETAILER_TYPE_id, 
   "ADDRESS1" : RETAILER_ADDRESS1_name, 
   "ADDRESS2" : RETAILER_ADDRESS2_name, 
   "RETAILER_CODE" : RETAILER_id, 
   "COUNTRY_CODE" : RETAILER_COUNTRY_id, 
   "REGION" : RETAILER_REGION_name, 
   "CITY" : RETAILER_CITY_name, 
   "POSTAL_ZONE" : RETAILER_POSTAL_ZONE_name, 
   "ACTIVE_INDICATOR" : RETAILER_ACTIVE_INDICATOR_number, 
   "RETAILER_NAME" : RETAILER_name, 
   "FAX" : RETAILER_FAX_number, 
   "ADDRESS1" : RETAILER_HEADQUARTERS_ADDRESS1_name, 
   "ADDRESS2" : RETAILER_HEADQUARTERS_ADDRESS2_name, 
   "" : RETAILER_HEADQUARTERS_COUNTRY_id, 
   "" : RETAILER_HEADQUARTERS_REGION_name, 
   "" : RETAILER_HEADQUARTERS_CITY_name, 
   "" : RETAILER_HEADQUARTERS_POSTAL_ZONE_name, 
   "" : RETAILER_SEGMENT_id 
 }

RETURNED_ITEM =  {
   "" : RETURNED_ITEM_id, 
   "" : RETURNED_ITEM_date, 
   "" : RETURNED_ITEM_ORDER_DETAIL_id, 
   "" : RETURNED_ITEM_REASON_id, 
   "" : RETURNED_ITEM_QUANTITY_number 
 }

SALES = {
   "SALES_STAFF_CODE" : SALES_STAFF_id, 
   "FIRST_NAME" : SALES_FIRST_name, 
   "LAST_NAME" : SALES_LAST_name, 
   "EXTENTION" : SALES_EXTENSION_number, 
   "EMAIL" : SALES_EMAIL_name, 
   "MANAGER_CODE" : SALES_MANAGER_id, 
   "SALES_BRANCH_CODE" : SALES_BRANCH_id, 
   "ADDRESS1" : SALES_ADDRESS1_name, 
   "ADDRESS2" : SALES_ADDRESS2_name, 
   "POSITION_EN" : SALES_POSITION_name, 
   "WORK_PHONE" : SALES_WORK_PHONE_number, 
   "FAX" : SALES_FAX_number, 
   "DATE_HIRED" : SALES_HIRED_date, 
   "COUNTRY_CODE" : SALES_COUNTRY_id, 
   "REGION" : SALES_REGION_name, 
   "CITY" : SALES_CITY_name, 
   "POSTAL_ZONE" : SALES_POSTAL_ZONE_name 
}

SATISFACTION = {
   [YEAR] : SATISFACTION_YEAR_number, 
   "SALES_STAFF_CODE" : SATISFACTION_STAFF_id, 
   "SATISFACTION_TYPE_CODE" : SATISFACTION_TYPE_id, 
   "SATISFACTION_TYPE_DESCRIPTION" : STATISFACTION_TYPE_description 
}

TRAINING = {
   [YEAR] : TRAINING_YEAR_number, 
   "SALES_STAFF_CODE" : TRAINING_SALES_STAFF_id, 
   "COURSE_CODE" : TRAINING_COURSE_id 
}

YEAR = {
   "" : YEAR_number, 
}

In [4]:
# Create a dictionary to map DataFrame names to table names in the database
dataframes = {
    'DATE': DATE,
    'MONTH': MONTH,
    'YEAR': YEAR,
    'PRODUCT': PRODUCT,
    'COURSE': COURSE,
    'GO_SALES_INVENTORY': GO_SALES_INVENTORY,
    'ORDER': ORDER,
    'RETAILER': RETAILER,
    'RETURNED_ITEM': RETURNED_ITEM,
    'sales_staff': SALES,
    'satisfaction': SATISFACTION,
    'training': TRAINING,
    'ORDER': ORDER
}

# Update each table in the database with the respective DataFrame
for table_name, df in dataframes.items():
    print(table_name)
    
    # Convert DataFrame to a list of tuples with missing values replaced by None
    data = []
    for row in df.values:
        row = [None if pd.isna(value) or value == '<NA>' else value for value in row]
        data.append(tuple(str(value) if value is not None else None for value in row))
    
    # Construct SQL query to replace data in the table
    sql_delete_query = f"DELETE FROM {table_name};"
    
    # Execute SQL query to delete existing data from the table
    export_conn.execute(sql_delete_query)
    
    # Construct SQL query to insert new data into the table
    num_columns = len(df.columns)
    placeholders = ','.join(['?'] * num_columns)
    sql_insert_query = f"INSERT INTO {table_name} VALUES ({placeholders})"
    
    # Execute individual insert statements for each row
    for row in data:
        print(row)
        export_conn.execute(sql_insert_query, row)

# Commit the transaction
export_conn.commit()

DATE

AttributeError: 'list' object has no attribute 'values'