In [1]:
# Create a dictionary to map DataFrame names to table names in the database
dataframes = {
    'year': year,
    'date': date,
    'month': month,
    'product': product,
    'country': country,
    'course': course,
    'go_sales': go_sales,
    'order_method': order_method,
    'retailer_contact': retailer_contact,
    'return_reason': return_reason,
    'returned_item': returned_item,
    'sales_staff': sales_staff,
    'sales_targetData': sales_targetData,
    'satisfaction_type': satisfaction_type,
    'satisfaction': satisfaction,
    'training': training,
    '[order]': order,
}

# Update each table in the database with the respective DataFrame
for table_name, df in dataframes.items():
    print(table_name)
    # Convert DataFrame to a list of tuples with missing values replaced by None
    data = []
    for row in df.values:
        row = [None if pd.isna(value) or value == '<NA>' else value for value in row]
        data.append(tuple(str(value) if value is not None else None for value in row))
    
    # Construct SQL query to replace data in the table
    sql_delete_query = f"DELETE FROM {table_name};"
    
    # Execute SQL query to delete existing data from the table
    GreatOrders_connection.execute(sql_delete_query)
    
    # Construct SQL query to insert new data into the table
    num_columns = len(df.columns)
    placeholders = ','.join(['?'] * num_columns)
    sql_insert_query = f"INSERT INTO {table_name} VALUES ({placeholders})"
    
    # Execute individual insert statements for each row
    for row in data:
        print(row)
        GreatOrders_connection.execute(sql_insert_query, row)

# Commit the transaction
GreatOrders_connection.commit()

NameError: name 'year' is not defined