In [3]:
import pandas as pd
import warnings
import numpy as np
warnings.simplefilter('ignore')
import sqlite3
from mlxtend.frequent_patterns import apriori, association_rules 
go_sales_connect = sqlite3.connect('go_sales.sqlite')

C:\Users\Alvaro\AppData\Local\Temp\ipykernel_18208\1823931539.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
df = pd.read_sql_query("SELECT ORDER_NUMBER, PRODUCT_NUMBER from order_details order by ORDER_NUMBER desc", go_sales_connect)
df_filter = df.groupby('ORDER_NUMBER')['PRODUCT_NUMBER'].nunique()

df_filter = df.groupby('ORDER_NUMBER')['PRODUCT_NUMBER'].nunique()

# Filter out ORDER_NUMBERs where count is greater than 1
filtered_order_numbers = df_filter[df_filter > 1].index

# Select rows where ORDER_NUMBER is in filtered list
df_filtered = df[df['ORDER_NUMBER'].isin(filtered_order_numbers)]
df_filtered

      ORDER_NUMBER PRODUCT_NUMBER
0             9479             88
1             9479             78
2             9479             57
3             9479             56
4             9479             52
...            ...            ...
43058         1153             39
43059         1153             36
43060         1153             35
43061         1153             32
43062         1153              2

[42721 rows x 2 columns]