In [5]:
import pandas as pd
import warnings
import numpy as np
warnings.simplefilter('ignore')
import sqlite3
from mlxtend.frequent_patterns import apriori, association_rules 
go_sales_connect = sqlite3.connect('go_sales.sqlite')

In [35]:
df = pd.read_sql_query("SELECT ORDER_NUMBER, PRODUCT_NUMBER from order_details order by ORDER_NUMBER desc", go_sales_connect)
df_filter = df.groupby('ORDER_NUMBER')['PRODUCT_NUMBER'].nunique()

df = df[df['ORDER_NUMBER'].isin(df_filter[df_filter > 1].index)]
df

      ORDER_NUMBER PRODUCT_NUMBER
0             9479             88
1             9479             78
2             9479             57
3             9479             56
4             9479             52
...            ...            ...
43058         1153             39
43059         1153             36
43060         1153             35
43061         1153             32
43062         1153              2

[42721 rows x 2 columns]