In [22]:

import warnings
import sqlite3
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import pandas as pd
warnings.simplefilter('ignore')

In [23]:
go_sales_connect = sqlite3.connect('go_sales.sqlite')

In [38]:
df = pd.read_sql_query("SELECT ORDER_DATE, PRODUCT_NUMBER, QUANTITY FROM order_header join order_details on order_details.ORDER_NUMBER = order_header.ORDER_NUMBER", go_sales_connect)
df['ORDER_DATE'] = pd.to_datetime(df['ORDER_DATE']).dt.to_period('M')
df = df.groupby(['PRODUCT_NUMBER', pd.Grouper(key='ORDER_DATE')])['QUANTITY'].sum().reset_index()
df

     PRODUCT_NUMBER ORDER_DATE  QUANTITY
0                 1    2020-01       594
1                 1    2020-02       344
2                 1    2020-03       898
3                 1    2020-04      1328
4                 1    2020-05       640
...             ...        ...       ...
3865             99    2022-08       264
3866             99    2022-09       256
3867             99    2022-10       242
3868             99    2022-11       148
3869             99    2022-12        96

[3870 rows x 3 columns]