In [1]:

import warnings
import sqlite3
import pandas as pd
warnings.simplefilter('ignore')

In [2]:
go_sales_connect = sqlite3.connect('go_sales.sqlite')

In [4]:
pd.read_sql_query("SELECT ORDER_NUMBER, PRODUCT_NUMBER, QUANTITY FROM order_header", go_sales_connect)

     ORDER_NUMBER
0            1153
1            1154
2            1155
3            1156
4            1157
...           ...
5355         9475
5356         9476
5357         9477
5358         9478
5359         9479

[5360 rows x 1 columns]